@model int


<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Order Placed Successfully
            <br />
            <span style="color:green">Your Order Id: @Model</span>
        </h1>
        <img src="https://b.stripecdn.com/docs-statics-srv/assets/succeeded.949bd1ab653cc1b01743b30d117d92eb.svg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:green">
        <br />
        Your Order has been placed Successfully
    </div>
</div>